/* You can add global styles to this file, and also import other style files */
body {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 80px;
  background-color: #f9f9fb;
}

.k-upload .k-dropzone {
  background-color: #fff;
}

kendo-upload .k-button.k-upload-button {
  color: #fff;
  background-color: #fa6157;
  border: none;
}

.file-upload .btn-primary {
  color: #fff;
  background-color: #fb6257;
  border-color: #fb6257;
  font-size: 14px;
}
